<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="ml-1 mr-1">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="ml-1 mr-1" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="ml-1 mr-1" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}



<!--
<div class="pagination">
    {% if paginator.previous_page %}
       <a href="/cj{{ paginator.previous_page_path }}" class="previous" onclick="ga('send', 'event', 'pagination', 'click', 'page previous')">
            &laquo;
                <svg>
                <use xlink:href="#icon-arrow-right"></use>
            </svg>
        </a>
    {% endif %}
    <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="/cj{{ paginator.next_page_path }}" class="next" onclick="ga('send', 'event', 'pagination', 'click', 'page next')">
            &raquo;
            <svg>
                <use xlink:href="#icon-arrow-right"></use>
            </svg>
        </a>
    {% endif %}
</div>
-->

<!--
<div class="pagination">
    <input type="hidden" id="total_pages" value="{{ paginator.total_pages }}">
    <input type="hidden" id="current_pages" value="{{ paginator.page }}">
    <input type="hidden" id="base_url" value="{{ "/" | relative_url }}">
    <div class="page-links">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="{{ "/" | relative_url }}" class="page-link" title="Previous Page">&laquo;</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}/" class="page-link" title="Previous Page">&laquo;</a>
            {% endif %}
        {% endif %}
        <div id="page-link-container"></div>
        {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}/" class="page-link">&raquo;</a>
        {% endif %}
    </div>
</div>
-->
